.loginContainer{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(45deg,#3859E5,#22258A);

    .formContainer{
        background: #2B3BB1;
        padding: 2rem;
        border-radius: 10px;
        box-shadow: 0px 0px 10px;

        .ant-tabs-top > .ant-tabs-nav::before{
            border-bottom: none;
        }
        h3{
            text-align: center;
            color: #f8f8f8;
            margin-bottom: 2rem;
        }
        .ant-input-affix-wrapper.ant-input-password,.ant-input{
            background-color: #2B3BB1;
        }
        .ant-input-affix-wrapper{
            border: 1px solid #6872BC;
            .ant-input{
                border: none;
            }
        }
        .ant-input{
            border: 1px solid #6872BC;    
        }
        .ant-form-item-required{
            color: #f8f8f8;
        }
        .ant-checkbox-wrapper span{
            color: #f8f8f8;
        }
    }
    .loginTextContainer{
        .loginText {
            color: #f8f8f8;
        }
    }
    .ant-form-item-control-input-content{
        display: inline-flex;
    }
    .inputBox {
        display: flex;

        .veriCodebox{
            height: 100%;
            display: inherit;
        }
    }
    .ant-input-affix-wrapper{
        background: rgba(0,0,0,0);
    }
    .ant-btn{
        border-left: none;
    }
}

@media screen and (max-width: 400px){
    .loginContainer{
        display: flex;
        flex-direction: column;
        background: rgb(114,104,217);
        justify-content: flex-end;

        .loginTextContainer{
            display: none;
        }
        .formContainer{
            background: #fff;
            box-shadow: none;
            width: 100%;
            border-radius: 0px;
            padding: 0 2rem;
            height: 90%;

            .ant-form-item-required{
                color: #000;
            }
            .ant-input,.ant-input-affix-wrapper.ant-input-password{
                background: #fff;
            }
            .ant-tabs-tab{
                margin: 0 52px;
            }
        }
    }
}